.text {
    background-color: #B5B26F;
    transition: background-color 1s;
}


.text-heading {
    color: white;
    margin: 180px 0;
    text-align: left;
    
    h1 {
        font-size: 48px;
    }
}

.text-description {
    color: white;
    margin: 300px 0;

    p {
        font-size: 20px;
        text-align: left;
    }
}

.backgroundWhite {
    background-color: #fff;
}