.header {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    width: 100%;

    p {
        text-transform: capitalize;
    }

    a {
        text-decoration: none;
        color: #4F4F4F;
    }
}

.header--list {
    display: flex;

    ul {
        list-style-type: none;
        display: flex;

        li {
            padding-right: 15px;
        }
    }
}

.greencolor {
    a {
        color: #B5AE72;
    }
}