
.header {
    margin-top: 50px;

    .header--icon {

        p {
            text-transform: capitalize;
            font-size: 30px;
            text-decoration: none;
        }

        a {
            text-decoration: none;
            color: #4F4F4F;
        }

    }

    ul {
        list-style-type: none;
        display: flex;
    
        a {
            text-decoration: none;
            color: #4F4F4F;
    
                li {
                    font-size: 16px;
                }
        }
    }

    .header--languages {
        justify-content: center;

        a {
            color: #B5AE72;
            margin-right: 10px;
        }

        a:hover {
            border-bottom: 1px solid #B5AE72;
        }

        a:active {
            border-bottom: 1px solid #B5AE72;
        }
    }

    .header--retailer {

        a {
            padding-left: 45px;
            margin-right: 20px;
            padding-bottom: 15px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                display: block;
                height: 1px;
                width: 82px;
                background: #B5AE72;
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            &:hover:after {
                left: 45px;
                width: calc(100% - 45px);

            }
        }
    }

}
