.heading {
    margin: 80px 0;
    text-align: center;

    h1 {
    color: #B5AE72;
    font-size: 50px;
    }

    .heading-sign {
        color: #B5B26F;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #B5B26F;
    }

}