.perfectmattress {
    background-color: #A9A9A9;
    color: white;
    text-align: left;
    padding-top: 50px;

    &--tooltip {
        position: relative;
        display: inline-block;
        width: 23px;
        line-height: 23px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #fff;
        font-size: 13px;

        &_text {
            visibility: hidden;
            width: 240px;
            background-color: #fff;
            color: #a9a9a9;
            padding: 20px 20px;
            position: absolute;
            font-size: 12px;
            border-radius: 0;
            bottom: calc(100% + 15px);
            transform: translateX(-50%);
            transition: 0.2s;
            z-index: 1;
            left: 50%;
        }

        &_text:after {
            content: "";
            display: block;    
            position: absolute;
            bottom: -20px;
            left: calc(50% - 20px);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 20px 0 20px;
            border-color: white transparent transparent transparent;
        }

    }

    &--measure {
        margin-bottom: 20px;
    }

    &--boder {
        padding: 8px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid white;
        margin-right: 35%;

            li {
                padding: 8px;

                span {
                    display: inline-block;
                    min-width: 70px;
                }
            }

    }

    &--tooltip:hover &--tooltip_text {
        visibility: visible;
      }

    h2 {
        font-size: 48px;
    }
}

.top {
    top: -26px;
}