.TextCarousel {
    display: flex;

    span {
        font-size: 80px;
        color: #fff;
        margin-right: 60px;

    }

    .dot {
        width: 10px;
        height: 10px;
        background-color: #A9A9A9;
        border-radius: 50%;
        display: inline-block;
        border: 1px solid #fff;
      }

}