.textCarousel {
    display: flex;
    flex-wrap: wrap;

        li {
            font-size: 70px;
            color: #fff;

            li:last-child {
                margin-right: 0;
              }
        }

        li:after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #fff;
            margin: 0 50px 0 40px;
            position: relative;
            top: -20px;
        }

}

ul.textCarousel {
    list-style-type: none;
}